// Text
$primary-text-color: #131335;
$secondary-text-color: #b8bcd5;

$link-color: #ff981c;

// Backgrounds
$background-light-color: #f5f5f9;
$background-white-color: #fff;

// Borders
$border-color: #ebeced;

$jagged-ice: #6195ed;
